<nb-layout>
  <nb-layout-column>
    <nb-card>
    <nb-card-body>
      <section id="photo" *ngIf="loaded">
        <app-image *ngFor="let key of imageKeys" [image]="images.get(key)" (mouseover)="imageHover(key)"></app-image>
      </section>
    </nb-card-body>
  </nb-card>
  </nb-layout-column>
  <nb-layout-column style="max-width: 25%;">
    <nb-card style="position: fixed;">
      <nb-card-body>
        <app-metadata [image]="metadataImage" ></app-metadata>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
