<nb-layout *ngIf="loaded">
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <img [src]="imageURL.original" alt="Original image">
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    <p>Date</p>
    <input disabled nbInput fullWidth type="text" [value]="image.date">
    <p>Author</p>
    <input disabled nbInput fullWidth type="text" [value]="image.author">
    <p>Status</p>
    <input disabled nbInput fullWidth type="text" [value]="image.status">
    <p>Type</p>
    <input disabled nbInput fullWidth type="text" [value]="image.type">
    <p>Tags</p>
    <input disabled nbInput fullWidth type="text" [value]="image.tags">
    <p>Location</p>
    <input disabled nbInput type="text" [value]="image.location.coordinates[0]">
    <input disabled nbInput type="text" [value]="image.location.coordinates[1]">
    <p>Comment</p>
    <input disabled nbInput fullWidth type="text" [value]="image.comment">
  </nb-layout-column>
</nb-layout>
